<!-- app/views/foods/edit.html.erb -->
<h1 class="edit-food-title">Edit Food</h1>

<%= render 'form', food: @food %>

<%= link_to 'Show', @food, class: "show-link" %> |
<%= link_to 'Back', foods_path, class: "back-link" %>
